export env=aliyun
export LUOYUN_PLATFORM=x

export ALIYUN_AK_ID="your_aliyun_ak_id"
export ALIYUN_AK_SECRET="your_aliyun_ak_secret"
export ALIYUN_AK_SECRET_ASR="your_aliyun_ak_secret_asr"
export OSS_ACCESS_KEY_ID="your_oss_access_key_id"
export OSS_ACCESS_KEY_SECRET="your_oss_access_key_secret"
export DASHSCOPE_API_KEY="your_dashscope_api_key"
export ARK_API_KEY="your_ark_api_key"
export MINIMAX_API_KEY="your_minimax_api_key"
export MINIMAX_GROUP_ID="your_minimax_group_id"
